.wrapper-card-shop {
  position: relative;
  border: 1px solid #ddd;
  overflow: hidden;
  height: 290px;

  p {
    margin: 0;
  }

  &:hover {
    img {
      margin-top: -40px;
      transition: 0.3s all;
    }
    .footer-card-container {
      height: 100px;
      transition: 0.3s all;

      .footer-card-shop-desc {
        bottom: 30px;
        transition: 0.3s all;
      }
    }
    .footer-card-shop {
      opacity: 1;
      transition: 0.3s all;

    }
  }
  &:not(:hover) {
    img {
      margin-top: 0;
      transition: 0.3s all;
    }
    .footer-card-container {
      height: 70px;
      transition: 0.3s all;

      .footer-card-shop-desc {
        bottom: 0;
        transition: 0.3s all;
      }
    }
    .footer-card-shop {
      opacity: 0;
      transition: 0.3s all;

    }
  }

  img {
    width: 100%;
    height: 100%;
  }
  .footer-card-container {
    text-align: left;
    padding: 9px 10px 0 10px;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 100%;

    
    .footer-card-shop-desc {
      position: absolute;
      bottom: 0;
      .desc {
        font-weight: 500;
        line-height: 19px;
        font-size: 15px;
      }
      .price {
        color: #989898;
        font-weight: 600;
        font-size: 24px;
      }
    }
    .footer-card-shop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      position: absolute;
      width: 90%;
      bottom: 9px;
      p {
        margin: 0;
      }
    }
  }
}
