.wapper-home {
  margin-top: 50px;
  background-color: #f1f1f1;

  @media (max-width: 1350px) {
    margin-top: 70px;
  }
  @media (max-width: 1268px) {
    margin-top: 90px;
  }
  @media (max-width: 1170px) {
    margin-top: 110px;
  }
  @media (max-width: 1058px) {
    margin-top: 130px;
  }

  .config-espace {
    position: relative;
    background-color: #653d36;
    width: 100%;
    height: 150px;
    margin: 20px auto 20px auto;
    display: flex;
    padding: 0;
    overflow: hidden;
    transition: background-color 0.3s;

    &:hover {
      background-color: #638c2f;

      .left-svg .e svg {
        fill: #653d36;
      }
      .arrow-icon i {
        margin-left: 20px;
        transition: 0.3s all;
      }
    }

    @media (max-width: 439px) {
      height: 200px;
    }

    .left-svg .e svg {
      position: absolute;
      fill: #638c2f;
      width: 140px;
      height: 172px;
      transform: rotate(-14deg);
      margin: -16px 0 0 -33px;
      transition: fill 0.3s;

      @media (max-width: 439px) {
        // visibility: hidden;
        display: none;
      }
    }

    .content {
      width: 85%;
      display: flex;
      align-items: center;
      padding-right: 1%;

      .icon-svg {
        margin-left: 14%;
        svg {
          fill: #fff;
          width: 50px;
        }
        @media (max-width: 992px) {
          margin-left: 19%;
        }
        @media (max-width: 768px) {
          visibility: hidden;
        }
        @media (max-width: 439px) {
          display: none;
        }
      }

      .text {
        text-align: left;
        margin-left: 3%;
        color: #fff;

        .title {
          font-weight: 700;
          font-size: 23px;
          margin: 0;
        }
      }
    }
    .arrow-icon {
      width: 15%;
      display: flex;
      align-items: center;
      color: #fff;
    }
  }

  .achivements {
    margin-top: 5%;
    display: flex;
    padding: 0;

    &:hover {
      .bloc-img {
        img {
          transform: scale(1.1);
        }
      }

      .bloc-text-container .bloc-text {
        background-color: #638c2f;
        transition: 0.3s all;
        color: #fff;
        .pagination {
          background-color: #fff;
          color: #000;
          .pages {
            display: flex;
            transition: 0.3s all;
            color: #000;
          }
        }
      }
    }

    .bloc-img {
      overflow: hidden;
      position: absolute;
      right: 0;
      width: 912px;
      img {
        transition: transform 0.2s;
      }

      @media (max-width: 992px) {
        display: none;
      }
    }

    .bloc-text-container {
      width: 39%;
      text-align: left;
      z-index: 99;

      @media (max-width: 992px) {
        width: 100%;
      }

      .title-achivement {
        margin-top: 5%;
        font-weight: bold;
        font-size: 23px;
      }

      .bloc-text {
        width: 92%;
        height: 350px;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 30px;
        margin-top: 10%;
        position: relative;

        @media (max-width: 992px) {
          width: 100%;
          margin-top: 4%;
        }
        .subtitle {
          font-weight: bold;
          font-size: 19px;
        }

        .pagination {
          position: absolute;
          right: 0;
          bottom: 0;
          border-top: 1px solid #ddd;
          border-left: 1px solid #ddd;
          padding: 10px;

          i {
            margin: 0 10px;
          }
          .pages {
            display: none;
            align-items: center;
            align-items: center;
            margin: 0 25px;
            i {
              font-size: 8px;
              margin: 0 3px;
            }
          }
        }
      }
    }
  }

  .wrapper-installation {
    margin-top: 195px;

    .custom-m-t {
      @media (max-width: 767px) {
        margin-top: 0 !important;
      }
    }
  }

  .wrapper-our-shop {
    display: flex;
    position: relative;
    overflow: hidden;
    margin-top: 6%;

    .img-left {
      overflow: hidden;
    }

    &:hover {
      .img-left {
        img {
          transform: scale(1.1);
          transition: 0.3s all;
        }
      }

      .bloc-right-shop {
        img {
          margin-top: -35px;
          transition: 0.3s all;
        }
        .description {
          height: 37% !important;
          transition: 0.3s all;
          .footer-card-our-shop {
            opacity: 1;
            transition: 0.3s all;
          }
        }
      }
    }
    &:not(:hover) {
      .img-left {
        img {
          transform: scale(1);
          transition: 0.3s all;
        }
      }
      .bloc-right-shop {
        img {
          margin-top: 0;
          transition: 0.3s all;
        }
        .description {
          height: 28%;
          transition: 0.3s all;
          .footer-card-our-shop {
            opacity: 0;
            transition: 0.3s all;
          }
        }
      }
    }

    .bloc-right-shop {
      position: absolute;
      right: 0;
      width: 50%;

      .title {
        font-weight: bold;
        font-size: 23px;
      }

      .card-shop {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        height: 370px;
        position: relative;
        overflow: hidden;

        img {
          height: 72%;
        }

        .description {
          height: 28%;
          background-color: #fff;
          padding: 20px;
          font-size: 13px;
          color: #676565;
          text-align: left;
          line-height: 25px;
          position: absolute;
          bottom: 0;

          .footer-card-our-shop {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
