.wrapper-navbar {
  position: sticky;
  top: 0;
  z-index: 9999;

  .wrapper-nav-link-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 2;

    span.close-btn {
      position: absolute;
      right: 58px;
      top: 0px;
      font-size: 32px;
    }
    .accueil,
    .boutique,
    .realisation,
    .contact {
      padding: 15px 0;
      border-bottom: 1px solid #efefef;
      cursor: pointer;
      z-index: 1;

      a {
        color: #000 !important;
      }
    }
  }
  .wrapper-line {
    display: flex;
    flex-direction: column;

    .first-line {
      display: flex;
      width: 90%;
      height: 60px;
      border: 1px solid #ddd;
      border-bottom: none;

      @media (max-width: 992px) {
        flex-direction: column;
        height: auto;
        border-bottom: 1px solid #ddd;
        width: 100%;
      }

      .item-first-line-logo {
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #ddd;
        background-color: #fff;

        @media (max-width: 992px) {
          width: 100%;
          height: 50px;
        }
      }

      .item-first-line-search {
        width: 33%;
        display: flex;
        align-items: center;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        position: relative;
        overflow: hidden;
        background-color: #fff;

        .first-icon-search {
          color: #b5b5b5;
          margin: 0 3% 0 5%;
        }
        .second-icon-search {
          position: absolute;
          right: 5px;
          color: #b5b5b5;
        }

        &:hover {
          .first-icon-search {
            animation: hoverActiveLeft 0.2s forwards;
          }
          .second-icon-search {
            animation: hoverActiveRight 0.2s forwards;
            display: block !important;
          }
        }
        &:not(:hover) {
          .first-icon-search {
            animation: hoverInactiveLeft 0.2s forwards;
          }
          .second-icon-search {
            animation: hoverInactiveRight 0.2s forwards;
          }
        }

        input {
          width: 70%;
          height: 70%;
          border: none;
          &:focus {
            outline: none;
          }

          @media (max-width: 992px) {
            width: 80%;
            text-align: center;
          }
        }

        @media (max-width: 992px) {
          width: 100%;
          height: 50px;
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          border-right: none;
        }
      }

      .item-first-line {
        display: flex;
        width: 34%;
        background-color: #fff;

        @media (max-width: 992px) {
          width: 100%;
          height: 50px;
        }

        .location {
          width: 50%;
          border-right: 1px solid #ddd;
          display: flex;
          align-items: center;
          position: relative;
          overflow: hidden;

          .first-icon-location {
            margin: 0 3% 0 5%;

            svg {
              width: 15px;
            }

            @media (max-width: 992px) {
              margin: 0 5% 0 11%;
            }
          }
          .second-icon-location {
            position: absolute;
            right: 5px;

            svg {
              width: 15px;
            }
          }

          &:hover {
            .first-icon-location {
              animation: hoverActiveLeft 0.2s forwards;
            }
            .second-icon-location {
              animation: hoverActiveRight 0.2s forwards;
              display: block !important;
            }
          }

          &:not(:hover) {
            .first-icon-location {
              animation: hoverInactiveLeft 0.2s forwards;
            }
            .second-icon-location {
              animation: hoverInactiveRight 0.2s forwards;
            }
          }
        }
        .config {
          width: 50%;
          display: flex;
          align-items: center;
          position: relative;
          overflow: hidden;
          background-color: #638c2f;
          color: #fff;

          .first-icon-config {
            margin: 0 3% 0 5%;

            svg {
              width: 25px;
              fill: #fff;
            }

            @media (max-width: 992px) {
              margin: 0 5% 0 11%;
            }
          }

          .second-icon-config {
            position: absolute;
            right: 5px;

            svg {
              width: 25px;
              fill: #fff;
            }
          }

          &:hover {
            background-color: #653d36;
            color: #fff;
            .first-icon-config {
              animation: hoverActiveLeft 0.2s forwards;
            }
            .second-icon-config {
              animation: hoverActiveRight 0.2s forwards;
              display: block !important;
            }
          }

          &:not(:hover) {
            .first-icon-config {
              animation: hoverInactiveLeft 0.2s forwards;
            }
            .second-icon-config {
              animation: hoverInactiveRight 0.2s forwards;
            }
          }
        }
      }
    }
  }

  .second-line {
    .wrapper-nav-link {
      width: 90%;
      display: flex;
      height: 45px;

      .item-nav-link-empty {
        width: 10%;
      }
      .item-nav-link-accueil {
        width: 23.21%;
        border: 1px solid #ddd;
        border-top: none;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        a {
          color: rgb(51, 51, 51);
        }

        &:hover {
          background-color: #638c2f;
          border: 1px solid #638c2f;
          a {
            color: #fff !important;
            text-decoration: none;
          }
        }
      }
      .item-nav-link-boutique {
        width: 22%;
        height: auto;
        position: relative;
        ul {
          height: 100%;
          margin: 0;
          list-style: none;
          padding: 15px 0 60px 0;

          li {
            padding: 5px 0;
            color: #fff;
            font-size: 14px;
            &:hover {
              background-color: #653d36;
              cursor: pointer;
            }
          }
        }

        &:hover {
          animation: hoverActiveMenu 0.2s forwards;
          opacity: 1 !important;
          z-index: 9;

          .title {
            background-color: #638c2f;
            border: 1px solid #638c2f;
            a {
              color: #fff !important;
              text-decoration: none;
            }
          }
        }
        &:not(:hover) {
          animation: hoverInactiveMenu 0.2s forwards;
          ul {
            opacity: 0;
          }
        }

        .title {
          width: 100%;
          height: 45.4px;
          border: 1px solid #ddd;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          position: absolute;
          bottom: 0;

          a {
            color: rgb(51, 51, 51);
          }
        }
      }
      .item-nav-link-realisation {
        width: 22%;
        border: 1px solid #ddd;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        a {
          color: rgb(51, 51, 51);
        }

        &:hover {
          background-color: #638c2f;
          border: 1px solid #638c2f;
          a {
            color: #fff !important;
            text-decoration: none;
          }
        }
      }
      .item-nav-link-contact {
        width: 23%;
        height: auto;
        position: relative;
        .content {
          height: 100%;
          background-color: #fff;
          .custom-content {
            position: absolute;
          }
        }

        &:hover {
          animation: hoverActiveMenuContact 0.2s forwards;
          opacity: 1 !important;
          z-index: 9;
          .title {
            background-color: #638c2f;
            border: 1px solid #638c2f;
            a {
              color: #fff !important;
              text-decoration: none;
            }
          }
        }
        &:not(:hover) {
          animation: hoverInactiveMenuContact 0.2s forwards;
          ul {
            opacity: 0;
          }
        }

        .title {
          width: 100%;
          height: 45.4px;
          border: 1px solid #ddd;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          position: absolute;
          bottom: 0;

          a {
            color: rgb(51, 51, 51);
          }
        }
      }

      @media (max-width: 992px) {
        display: none;
      }
    }
  }
  .wrapper-btn {
    position: absolute;
    width: 100%;
    text-align: right;

    .btn-nav-menu i {
      font-size: 30px;
      margin: 15px 5%;
    }
  }
}

@keyframes hoverActiveLeft {
  0% {
    margin: 0 3% 0 5%;
  }
  100% {
    opacity: 0;
    margin: 0 3% 0 -3%;
  }
}
@keyframes hoverInactiveLeft {
  0% {
    opacity: 0;
    margin: 0 3% 0 -3%;
  }
  100% {
    margin: 0 3% 0 5%;
  }
}

@keyframes hoverActiveRight {
  0% {
    margin-right: 5px;
    display: none;
  }
  100% {
    margin-right: 10px;
  }
}
@keyframes hoverInactiveRight {
  0% {
    margin-right: 10px;
  }
  100% {
    margin-right: -5px;
    opacity: 0;
  }
}
@keyframes hoverActiveMenu {
  0% {
    height: 45px;
  }
  100% {
    height: 215px;
    opacity: 1 !important;
  }
}
@keyframes hoverInactiveMenu {
  0% {
    height: 215px;
  }
  100% {
    height: 45px;
  }
}

@keyframes hoverActiveMenuContact {
  0% {
    height: 45px;
    opacity: 1 !important;
  }
  100% {
    height: 300px;
    opacity: 1 !important;
  }
}
@keyframes hoverInactiveMenuContact {
  0% {
    height: 300px;
  }
  100% {
    height: 45px;
  }
}
